@import "@/assets/css/variable.scss";
@import "@/assets/css/style.scss";

.content {
  @include block-size-setting(unset, calc(100vh - 100px), left, unset, 20px, unset);
  @include font-setting(20px, normal, $font-color);
  overflow-y: auto;

  :global {

    @include tabs-setting($font-color-5, 22px, unset, $font-color-12, $hover-color-6);

    @include button-padding-setting();

    @include checkbox-setting(18px, 18px, 0px, 5px, 6px, 10px, $button-color-2, $font-color);

    @include radio-setting(18px, 18px, 8px, 8px, $button-color-2, $font-color, 18px, 5px);

    @include input-setting($font-color-7, $white-color, $border-color-1, $font-color-10);

    .el-divider--horizontal {
      margin: 5px 0;
    }

    .el-dialog__body {
      padding: 15px;
    }
  }
}

.form {
  @include block-size-setting(calc(100% - 40px), unset, inherit, $white-color, 15px, unset);
  border-radius: 10px;
  @include border-setting(border, solid, $border-color-2);

  :global {

    @include button-padding-setting(10px 20px);

    .el-form-item__content {
      line-height: unset;
    }

    .el-form-item__label {
      @include font-setting(20px, bold, $font-color-9);
    }

    .el-input__count-inner, .el-input__count {
      @include font-setting(12px, unset, unset);
    }

    .el-textarea .el-textarea__inner, .el-input .el-input__inner {
      font-size: 18px;
    }

    @include input-setting($font-color, $white-color);
    @include input-width(100%);

    .el-divider {
      margin: 10px 0;
    }

    .el-table {
      :global {
        @include button-padding-setting();
      }
    }

    .el-form-item__label:before {
      color: $notify-color !important;
    }
  }

  &-info {
    @include font-setting(22px, bold, $font-color);
  }
}

%form-shared {
  background-color: unset;
  border: unset !important;
}

.center {
  text-align: center;
}

.query {
  display: inline-block;
  margin: 15px 0px 0px 0px;

  :global {

    @include input-width(160px);

    @include datepicker-width(140px);
  }

  & label {
    @include font-setting(18px, bold, $font-color-9);
  }

  &-item {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

.btn {
  &-A {
    @include button-color-setting($white-color, $button-color-1, $button-color-1, $white-color, $button-color-1, $button-color-1, $hover-color-2);
  }

  &-B {
    @include button-color-setting($white-color, $button-color-2, $button-color-2, $white-color, $button-color-3, $button-color-3, $hover-color-1);
  }

  &-C {
    @include button-color-setting($button-color-2, $button-color-2, $white-color, $button-color-2, $button-color-2, $white-color, $background-color);
  }

  &-D {
    @include button-color-setting($white-color, $button-color-4, $button-color-4, $white-color, $button-color-4, $button-color-4, $hover-color-4);
  }

  &-E {
    @include button-color-setting($white-color, $button-color-5, $button-color-5, $white-color, $button-color-6, $button-color-6, $hover-color-3);
  }
}

.dialog {
  :global {
    .el-dialog__body {
      padding: 0 20px;
    }

    .el-dialog__header {
      padding-bottom: 0;
    }
  }

  &-title {
    @include font-setting(20px, bold, $subtitle-color, 36px);
  }

  &-B {
    :global {
      .el-dialog__header {
        padding: 20px 37px 10px;
      }

      .el-dialog__body {
        padding: 0px 15px;
      }
    }
    
    border-radius: 15px;
    max-width: 1000px;
    width: 90%;
  }
}

.table {
  &-A {
    @include table-setting($border-color-2, $font-color-7, 10px, unset, $button-color-1, $background-color, $hover-color, $border-color-3, $white-color, 18px);
  }
  
  &-B {
    @include table-setting($border-color-1, $font-color-7, 5px, $border-color-1, $button-color-2, unset, $hover-color-5, $font-color-7, $background-color-1, 18px);
  }

  &-C {
    @include table-setting(unset, unset, unset, unset, unset, unset, unset, $font-color-11, unset, 18px);
  }
}

.comment {
  :global {
    .cell {
      overflow:hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
}