/* color */
$white-color: #FFFFFF;
$menu-color-1: #FFC107;
$menu-color-2: #FFFFB8;
$sidemenu-background: #4D67AE;
$main-background: #F7F9FC;
$subtitle-color: #345389;
$font-color: #3E3A39;
$font-color-2: #606266;
$font-color-3: #555555;
$font-color-4: #3C5185;
$font-color-5: #4D68A2;
$font-color-6: #303133;
$font-color-7: #333333;
$font-color-8: #A0A0A0;
$font-color-9: #666666;
$font-color-10: #AAAAAA;
$font-color-11: #526984;
$font-color-12: #767F89;
$switch-unactive: #809B8D;
$switch-active: #81C6AA;
$switch-default: #B3B3B3;
$button-color-1: #4D67A1;
$button-color-2: #7EA7DF;
$button-color-3: #B3C2CE;
$button-color-4: #76C9AF;
$button-color-5: #9EA6E3;
$button-color-6: #AEB4D3;
$border-color: #8E9DBC;
$border-color-1: #CCCCCC;
$border-color-2: #E6E6E6;
$border-color-3: #4667A5;
$background-color: #F0F0F0;
$background-color-1: #D1E1F2;
$background-color-2: #F1F5FA;
$background-color-3: #F2F2F2;
$hover-color: #F5FBFF;
$hover-color-1: #98B9E5;
$hover-color-2: #416393;
$hover-color-3: #B3BDE8;
$hover-color-4: #8DCEB7;
$hover-color-5: #FAFAFA;
$hover-color-6: #627495;
$hover-color-7: #FFE49F;
$notify-color: #F15A24;
$tag-color: #6F8BB3;
$icon-color: #FFA1A1;
