/* color */
$white-color: #FFFFFF;
$menu-color-1: #FFC107;
$menu-color-2: #FFFFB8;
$sidemenu-background: #D6D5FF;
$subtitle-color: #4A3F91;
$font-color-1: #444444;
$font-color-2: #ADADAD;
$font-color-3: #666666;
$font-color-4: #999999;
$font-color-5: #606060;
$switch-unactive: #8686BC;
$switch-active: #616AFE;
$switch-default: #7F7F80;
$button-color-1: #CC73E7;
$button-color-2: #766DD4;
$button-color-3: #B3C2CE;
$button-color-4: #76C9AF;
$button-color-5: #9EA6E3;
$button-color-6: #AEB4D3;
$border-color-1: #9593DB;
$background-color: #F0F0F0;
$background-color-1: #F0F0F0;
$background-color-2: #FFC107;
$background-color-3: #F1F0FB;
$background-color-4: #F7F6FC;
$hover-color: #F5FBFF;
$hover-color-1: #8D82FF;
$hover-color-2: #DB7BF8;
$hover-color-3: #F1F0FB;
$hover-color-4: #FFCC00;
$hover-color-5: #CC73E7;
$hover-color-6: #5B4EAE;
$hover-color-7: #FFE49F;
$notify-color: #F15A24;
$icon-color: #FFA1A1;

/* font */
$font-size-1: 18px;
$font-size-2: 20px;
$font-size-3: 22px;
$font-weight-1: bold;

/* block */
$sidemenu-width: 210px;
