/* color */
$white-color: #FFFFFF;
$menu-color-1: #fabf1b;
$menu-color-2: #FFFFB8;
$sidemenu-background: #0700d1;
$subtitle-color: #043648;
$font-color: #3E3A39;
$font-color-2: #606266;
$main-background: #e3e3e3;
$switch-unactive: #809B8D;
$switch-active: #81C6AA;
$switch-default: #B3B3B3;